// Global settings
body {
    margin: 0;
    background-color: #888;
    background-image: url('../img/wall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, p {
    margin: 5px 0;
}

.app {
    max-width: 800px;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
}

.main-header, .header, .content, .buttons {
    padding: 10px;
}

.main-header {
    padding-top: 20px;
}

// Game view
.game-container {
    position: absolute;
    left: 0;
    top: 0;

    .canvas-container {
    
        canvas {
            display: block;
        }
    }
}